.logo{
    width: 40%;
}
.btn-success{
    border-radius: 15px;
}
.image-banner{
    width: 85%;
}
.background{
    background-color: #F0FFF0 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.image{
    width: 25%;
    height: 30%;
    margin: 15px 10px;
}
.box{
    margin-top: 30px;
    padding-top: 13px;
    padding-bottom: 7px;
    background-color: #F0FFF0;
    border-radius: 8px;
    height: 200px !important;
}
#box-main{
    margin-top: 30px;
    padding-top: 13px;
    padding-bottom: 7px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(187, 185, 185);
    border-radius: 8px;
    height: 200px !important;
}
.card{
    padding: 30px;
    border: none;
    box-shadow: 3px 3px 20px rgb(187, 185, 185);
    border-radius: 13px;
}
.card-deck{
    margin-right: 50px;
    margin-left: 50px;
}
.calender-footer{
    width: 7%;
}
.people-footer{
    width: 7%;
    float: right;
    margin: 1px 4px;
}
.card-footer{
    display: inline !important;
    background-color: #FFFFFF;
    border-top: none;
}
.align{
    display: inline;
}
.man-image{
    width: 40%;
    float: right;
    padding-right: 20px;
}
.testimonial-section{
    padding-top: 50px;

}
.footer{
    background-color: #282531;
    color: #FFFFFF;
    padding: 20px 20px;
    margin-top: 25px;
    height: 200px;
}